.galleryItem {
    display: flex;
    position: relative;
}

.galleryItem img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 16px;

}.overlayIcons {
    display: none;
    position: absolute;
    bottom: 16px;
    right: 16px;
    align-items: center;
    gap: 8px
}

.overlayIcons button {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 4px;
}

.saveButton {
    display: none;
    background-color: #e50829;
    color: white;
    border-radius: 24px;
    padding: 12px 16px;
    font-weight: 500;
    cursor: pointer;
    width: max-content;
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    
}
.galleryItem:hover .overlay,
.galleryItem:hover .saveButton {
    display: block;
 
}
.galleryItem:hover .overlayIcons {
    display: flex;
    
}
