.userButton {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.userButton img {
    width: 40px;
    height: 40px;
    border: 100%;
    object-fit: cover;
}

#arrow {
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.userOptions {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 8px;
    font-size: 16px;
}

.userOption {
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
}

.userOption:hover {
    background-color: #f1f1f1;
}

.loginLink {
    font-size: 18px;
    padding: 16px;
    border-radius: 32px;
}

.loginLink:hover {
    background-color: #f1f1f1;
}

@media (max-width: 475px) {
    .userButton {
        display: none;
    }

}